USE [foodtruck]
GO
ALTER TABLE [dbo].[TruckLocation] DROP CONSTRAINT [FK_TruckLocation_Timestamp]
GO
ALTER TABLE [dbo].[TruckLocation] DROP CONSTRAINT [FK_TruckLocation_Street]
GO
ALTER TABLE [dbo].[TruckLocation] DROP CONSTRAINT [FK_TruckID]
GO
ALTER TABLE [dbo].[Territory] DROP CONSTRAINT [FK_CountryID]
GO
ALTER TABLE [dbo].[Street] DROP CONSTRAINT [FK_CityID]
GO
ALTER TABLE [dbo].[Recipes] DROP CONSTRAINT [FK_RecipeLocationID]
GO
ALTER TABLE [dbo].[RecipeIngredients] DROP CONSTRAINT [FK_RecipeIngredientLocationID]
GO
ALTER TABLE [dbo].[RecipeIngredients] DROP CONSTRAINT [FK__RecipeIng__Recip__5BE2A6F2]
GO
ALTER TABLE [dbo].[RecipeIngredients] DROP CONSTRAINT [FK__RecipeIng__Ingre__5AEE82B9]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_Orders_CustomerID]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [FK_OrderLocationID]
GO
ALTER TABLE [dbo].[LineItem] DROP CONSTRAINT [FK_LineItem_RecipeID]
GO
ALTER TABLE [dbo].[LineItem] DROP CONSTRAINT [FK_LineItem_OrderID]
GO
ALTER TABLE [dbo].[Ingredients] DROP CONSTRAINT [FK_IngredientLocationID]
GO
ALTER TABLE [dbo].[City] DROP CONSTRAINT [FK_TerritoryID]
GO
ALTER TABLE [dbo].[City] DROP CONSTRAINT [FK_City_Zipcode]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__DateOfOr__07C12930]
GO
ALTER TABLE [dbo].[Orders] DROP CONSTRAINT [DF__Orders__TimeOfOr__571DF1D5]
GO
ALTER TABLE [dbo].[LineItem] DROP CONSTRAINT [DF__LineItem__Quanti__5629CD9C]
GO
/****** Object:  Index [UQ__Customer__A9D10534324BFBE3]    Script Date: 5/4/2026 1:33:28 PM ******/
ALTER TABLE [dbo].[Customers] DROP CONSTRAINT [UQ__Customer__A9D10534324BFBE3]
GO
/****** Object:  View [dbo].[Tacos]    Script Date: 5/4/2026 1:33:28 PM ******/
DROP VIEW [dbo].[Tacos]
GO
/****** Object:  View [dbo].[IngredientStock]    Script Date: 5/4/2026 1:33:28 PM ******/
DROP VIEW [dbo].[IngredientStock]
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ingredients]') AND type in (N'U'))
DROP TABLE [dbo].[Ingredients]
GO
/****** Object:  View [dbo].[TruckInformation]    Script Date: 5/4/2026 1:33:28 PM ******/
DROP VIEW [dbo].[TruckInformation]
GO
/****** Object:  Table [dbo].[Zipcode]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Zipcode]') AND type in (N'U'))
DROP TABLE [dbo].[Zipcode]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Country]') AND type in (N'U'))
DROP TABLE [dbo].[Country]
GO
/****** Object:  Table [dbo].[Territory]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Territory]') AND type in (N'U'))
DROP TABLE [dbo].[Territory]
GO
/****** Object:  Table [dbo].[City]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[City]') AND type in (N'U'))
DROP TABLE [dbo].[City]
GO
/****** Object:  Table [dbo].[Street]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Street]') AND type in (N'U'))
DROP TABLE [dbo].[Street]
GO
/****** Object:  Table [dbo].[LocationByTime]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LocationByTime]') AND type in (N'U'))
DROP TABLE [dbo].[LocationByTime]
GO
/****** Object:  Table [dbo].[Truck]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Truck]') AND type in (N'U'))
DROP TABLE [dbo].[Truck]
GO
/****** Object:  Table [dbo].[TruckLocation]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TruckLocation]') AND type in (N'U'))
DROP TABLE [dbo].[TruckLocation]
GO
/****** Object:  Table [dbo].[RecipeIngredients]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RecipeIngredients]') AND type in (N'U'))
DROP TABLE [dbo].[RecipeIngredients]
GO
/****** Object:  View [dbo].[CustomerOrders]    Script Date: 5/4/2026 1:33:28 PM ******/
DROP VIEW [dbo].[CustomerOrders]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
DROP TABLE [dbo].[Orders]
GO
/****** Object:  Table [dbo].[LineItem]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LineItem]') AND type in (N'U'))
DROP TABLE [dbo].[LineItem]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customers]') AND type in (N'U'))
DROP TABLE [dbo].[Customers]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 5/4/2026 1:33:28 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Recipes]') AND type in (N'U'))
DROP TABLE [dbo].[Recipes]
GO
USE [master]
GO
/****** Object:  Database [foodtruck]    Script Date: 5/4/2026 1:33:28 PM ******/
DROP DATABASE [foodtruck]
GO
/****** Object:  Database [foodtruck]    Script Date: 5/4/2026 1:33:28 PM ******/
CREATE DATABASE [foodtruck]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'foodtruck', FILENAME = N'C:\Users\leeamym\foodtruck.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'foodtruck_log', FILENAME = N'C:\Users\leeamym\foodtruck_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [foodtruck].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [foodtruck]
GO
/****** Object:  Table [dbo].[Recipes]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipes](
	[RecipeID] [int] IDENTITY(1,1) NOT NULL,
	[RecipeName] [varchar](50) NULL,
	[Price] [float] NULL,
	[RecipeLocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineItem]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineItem](
	[LineItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[RecipeID] [int] NOT NULL,
	[Quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LineItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[TimeOfOrder] [datetime] NULL,
	[DateOfOrder] [date] NULL,
	[OrderLocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CustomerOrders]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View Orders and Customers AKA SALES
CREATE   VIEW [dbo].[CustomerOrders] AS
SELECT 
    o.OrderID,
    STRING_AGG(CONCAT(c.FirstName, ' ', c.LastName), ', ') AS [Customer Name],
    r.RecipeName AS [Bought],
    l.Quantity,
    FORMAT(o.TotalPrice, 'C') AS [Total Price], 
    FORMAT(o.DateOfOrder, 'MM/dd/yyyy') AS [Date Of Order],
    FORMAT(CONVERT(datetime, o.TimeOfOrder), 'hh:mm:ss tt') AS [Time of Order], 
    o.OrderLocationID AS [TruckID]
FROM Orders o
    LEFT JOIN Customers c ON o.CustomerID = c.CustomerID
    LEFT JOIN LineItem l ON o.OrderID = l.OrderID
    LEFT JOIN Recipes r ON r.RecipeID = l.RecipeID
GROUP BY 
    o.OrderID, 
    c.CustomerID,
    c.FirstName,
    c.LastName,
    r.RecipeName,
    l.Quantity,
    o.TotalPrice,
    o.DateOfOrder,
    o.TimeOfOrder,
    o.OrderLocationID;
GO
/****** Object:  Table [dbo].[RecipeIngredients]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeIngredients](
	[Recipe] [int] NOT NULL,
	[Ingredient] [int] NOT NULL,
	[Amount] [float] NULL,
	[RecipeIngredientLocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Recipe] ASC,
	[Ingredient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TruckLocation]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TruckLocation](
	[TruckLocationID] [int] NOT NULL,
	[TruckID] [int] NULL,
	[StreetID] [int] NULL,
	[TimestampID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TruckLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Truck]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Truck](
	[TruckID] [int] NOT NULL,
	[LicensePlate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TruckID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationByTime]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationByTime](
	[TimestampID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[LeaveTime] [time](7) NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TimestampID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Street]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[StreetID] [int] NOT NULL,
	[CityID] [int] NULL,
	[StreetName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StreetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[CityID] [int] NOT NULL,
	[TerritoryID] [int] NULL,
	[ZipcodeID] [int] NULL,
	[CityName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Territory]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Territory](
	[TerritoryID] [int] NOT NULL,
	[CountryID] [int] NULL,
	[TerritoryName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TerritoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] NOT NULL,
	[CountryName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zipcode]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zipcode](
	[ZipcodeID] [int] NOT NULL,
	[ZipcodeEntry] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ZipcodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TruckInformation]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Truck Location by time and address parked at, ordered from 1-4
CREATE   VIEW [dbo].[TruckInformation] AS
SELECT 
    tr.TruckID, 
    tr.LicensePlate,
    m.Menu,
    s.StreetName AS [Street Address], 
    ci.CityName AS [City], 
    t.TerritoryName AS [Territory], 
    z.ZipcodeEntry AS [Zipcode], 
    c.CountryName AS [Country], 
    FORMAT(lbt.StartDate, 'MM/dd/yyyy') AS [Arrival Date], 
    FORMAT(lbt.EndDate, 'MM/dd/yyyy') AS [Departure Date], 
    FORMAT(CONVERT(datetime, lbt.StartTime), 'hh:mm:ss tt') AS [Started Service],
    FORMAT(CONVERT(datetime, lbt.LeaveTime), 'hh:mm:ss tt') AS [Ended Service]
FROM Country c
LEFT JOIN Territory t ON t.CountryID = c.CountryID
LEFT JOIN City ci ON t.TerritoryID = ci.TerritoryID
LEFT JOIN Zipcode z ON ci.ZipcodeID = z.ZipcodeID
LEFT JOIN Street s ON s.CityID = ci.CityID
LEFT JOIN TruckLocation tl ON s.StreetID = tl.StreetID
LEFT JOIN Truck tr ON tl.TruckID = tr.TruckID
LEFT JOIN LocationByTime lbt ON tl.TimestampID = lbt.TimestampID

OUTER APPLY (
    SELECT STRING_AGG(r.RecipeName, ', ') WITHIN GROUP (ORDER BY r.RecipeName) AS Menu
    FROM (
        SELECT DISTINCT r2.RecipeName
        FROM Recipes r2
        INNER JOIN RecipeIngredients ri2 ON r2.RecipeID = ri2.Recipe
        WHERE ri2.RecipeIngredientLocationID = tr.TruckID
    ) AS r
) AS m

ORDER BY tr.TruckID OFFSET 0 ROWS;
GO
/****** Object:  Table [dbo].[Ingredients]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredients](
	[IngredientID] [int] IDENTITY(1,1) NOT NULL,
	[IngredientName] [varchar](50) NULL,
	[UnitCost] [float] NULL,
	[InventoryCount] [int] NULL,
	[IngredientLocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[IngredientStock]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View the Ingredients, their parent that is a RECIPE and what a truck has in stock
CREATE   VIEW [dbo].[IngredientStock] AS
SELECT
    i.IngredientID,
    i.IngredientName AS [Ingredient Name],
    ri.Amount AS [Amount Used in 1],
    i.UnitCost AS [Ingredient Cost],
    i.InventoryCount AS [Ingredients in Inventory],
    r.RecipeID, 
    r.RecipeName AS [Menu Item], 
    r.Price AS [Total Price],  
    r.RecipeLocationID AS [TruckID],
    tr.LicensePlate AS [Truck License Plate]
FROM Recipes r
    LEFT JOIN Truck tr ON r.RecipeLocationID = tr.TruckID
    LEFT JOIN RecipeIngredients ri ON r.RecipeID = ri.Recipe
    LEFT JOIN Ingredients i ON ri.Ingredient = i.IngredientID
ORDER BY r.RecipeID OFFSET 0 ROWS;
GO
/****** Object:  View [dbo].[Tacos]    Script Date: 5/4/2026 1:33:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[Tacos] AS 
SELECT Recipes.Name, Recipes.Price
--(SELECT (Ingredients.UnitCost *  FROM Ingredients WHERE Ingredients.IngredientID IN RecipeIngredients as Cost
FROM Recipes
WHERE Recipes.Name='Taco';
GO
INSERT [dbo].[City] ([CityID], [TerritoryID], [ZipcodeID], [CityName]) VALUES (1, 1, 3, N'Detroit')
INSERT [dbo].[City] ([CityID], [TerritoryID], [ZipcodeID], [CityName]) VALUES (2, 2, 4, N'Fort Worth')
INSERT [dbo].[City] ([CityID], [TerritoryID], [ZipcodeID], [CityName]) VALUES (3, 3, 1, N'Squamish')
GO
INSERT [dbo].[Country] ([CountryID], [CountryName]) VALUES (1, N'United States Of America')
INSERT [dbo].[Country] ([CountryID], [CountryName]) VALUES (2, N'Canada')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone]) VALUES (1, N'John', N'Doe', N'johndoe@notarealemail.com', N'123-456-7890')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone]) VALUES (2, N'Jane', N'Doe', N'janedoe@notarealemail.com', N'098-765-4321')
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Phone]) VALUES (3, N'Michael', N'Smith', N'michael.smith@example.com', N'111-222-3333')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Ingredients] ON 

INSERT [dbo].[Ingredients] ([IngredientID], [IngredientName], [UnitCost], [InventoryCount], [IngredientLocationID]) VALUES (1, N'Tortillas', 0.5, 12, NULL)
INSERT [dbo].[Ingredients] ([IngredientID], [IngredientName], [UnitCost], [InventoryCount], [IngredientLocationID]) VALUES (2, N'Tofu', 0.3, 30, NULL)
INSERT [dbo].[Ingredients] ([IngredientID], [IngredientName], [UnitCost], [InventoryCount], [IngredientLocationID]) VALUES (3, N'Beef', 0.3, 18, 1)
SET IDENTITY_INSERT [dbo].[Ingredients] OFF
GO
SET IDENTITY_INSERT [dbo].[LineItem] ON 

INSERT [dbo].[LineItem] ([LineItemID], [OrderID], [RecipeID], [Quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[LineItem] ([LineItemID], [OrderID], [RecipeID], [Quantity]) VALUES (2, 2, 1, 2)
INSERT [dbo].[LineItem] ([LineItemID], [OrderID], [RecipeID], [Quantity]) VALUES (3, 3, 1, 3)
SET IDENTITY_INSERT [dbo].[LineItem] OFF
GO
INSERT [dbo].[LocationByTime] ([TimestampID], [StartDate], [StartTime], [LeaveTime], [EndDate]) VALUES (1, CAST(N'2024-01-01' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), CAST(N'2024-01-11' AS Date))
INSERT [dbo].[LocationByTime] ([TimestampID], [StartDate], [StartTime], [LeaveTime], [EndDate]) VALUES (2, CAST(N'2024-01-02' AS Date), CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), CAST(N'2024-01-12' AS Date))
INSERT [dbo].[LocationByTime] ([TimestampID], [StartDate], [StartTime], [LeaveTime], [EndDate]) VALUES (3, CAST(N'2024-01-03' AS Date), CAST(N'07:30:00' AS Time), CAST(N'16:30:00' AS Time), CAST(N'2024-01-13' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [TotalPrice], [TimeOfOrder], [DateOfOrder], [OrderLocationID]) VALUES (1, 1, CAST(3.74 AS Decimal(10, 2)), CAST(N'2026-05-04T13:11:51.673' AS DateTime), CAST(N'2026-05-04' AS Date), 1)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [TotalPrice], [TimeOfOrder], [DateOfOrder], [OrderLocationID]) VALUES (2, 2, CAST(7.48 AS Decimal(10, 2)), CAST(N'2026-05-04T13:11:57.690' AS DateTime), CAST(N'2026-05-04' AS Date), 1)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [TotalPrice], [TimeOfOrder], [DateOfOrder], [OrderLocationID]) VALUES (3, 3, CAST(11.22 AS Decimal(10, 2)), CAST(N'2026-05-04T13:11:57.690' AS DateTime), CAST(N'2026-05-04' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[RecipeIngredients] ([Recipe], [Ingredient], [Amount], [RecipeIngredientLocationID]) VALUES (1, 1, 2, 1)
INSERT [dbo].[RecipeIngredients] ([Recipe], [Ingredient], [Amount], [RecipeIngredientLocationID]) VALUES (1, 2, 3, NULL)
INSERT [dbo].[RecipeIngredients] ([Recipe], [Ingredient], [Amount], [RecipeIngredientLocationID]) VALUES (1, 3, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Recipes] ON 

INSERT [dbo].[Recipes] ([RecipeID], [RecipeName], [Price], [RecipeLocationID]) VALUES (1, N'Taco', 3.74, 1)
INSERT [dbo].[Recipes] ([RecipeID], [RecipeName], [Price], [RecipeLocationID]) VALUES (2, N'Hamburger', 3.1, 1)
SET IDENTITY_INSERT [dbo].[Recipes] OFF
GO
INSERT [dbo].[Street] ([StreetID], [CityID], [StreetName]) VALUES (1, 1, N'12345 Evergreen St')
INSERT [dbo].[Street] ([StreetID], [CityID], [StreetName]) VALUES (2, 2, N'8421 Silver Ridge Blvd')
INSERT [dbo].[Street] ([StreetID], [CityID], [StreetName]) VALUES (3, 3, N'2100 Mamquam Rd')
GO
INSERT [dbo].[Territory] ([TerritoryID], [CountryID], [TerritoryName]) VALUES (1, 1, N'Michigan')
INSERT [dbo].[Territory] ([TerritoryID], [CountryID], [TerritoryName]) VALUES (2, 1, N'Texas')
INSERT [dbo].[Territory] ([TerritoryID], [CountryID], [TerritoryName]) VALUES (3, 2, N'British Columbia')
GO
INSERT [dbo].[Truck] ([TruckID], [LicensePlate]) VALUES (1, N'BQP 7284')
INSERT [dbo].[Truck] ([TruckID], [LicensePlate]) VALUES (2, N'KTR 9M2')
INSERT [dbo].[Truck] ([TruckID], [LicensePlate]) VALUES (3, N'573 LQH')
GO
INSERT [dbo].[TruckLocation] ([TruckLocationID], [TruckID], [StreetID], [TimestampID]) VALUES (1, 4, 2, 1)
INSERT [dbo].[TruckLocation] ([TruckLocationID], [TruckID], [StreetID], [TimestampID]) VALUES (2, 1, 1, 2)
INSERT [dbo].[TruckLocation] ([TruckLocationID], [TruckID], [StreetID], [TimestampID]) VALUES (3, 2, 3, 3)
GO
INSERT [dbo].[Zipcode] ([ZipcodeID], [ZipcodeEntry]) VALUES (1, N'V8B 1A1')
INSERT [dbo].[Zipcode] ([ZipcodeID], [ZipcodeEntry]) VALUES (2, N'M5V 3L9')
INSERT [dbo].[Zipcode] ([ZipcodeID], [ZipcodeEntry]) VALUES (3, N'48219')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D10534324BFBE3]    Script Date: 5/4/2026 1:33:28 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LineItem] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [TimeOfOrder]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [DateOfOrder]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Zipcode] FOREIGN KEY([ZipcodeID])
REFERENCES [dbo].[Zipcode] ([ZipcodeID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Zipcode]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_TerritoryID] FOREIGN KEY([TerritoryID])
REFERENCES [dbo].[Territory] ([TerritoryID])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_TerritoryID]
GO
ALTER TABLE [dbo].[Ingredients]  WITH CHECK ADD  CONSTRAINT [FK_IngredientLocationID] FOREIGN KEY([IngredientLocationID])
REFERENCES [dbo].[Truck] ([TruckID])
GO
ALTER TABLE [dbo].[Ingredients] CHECK CONSTRAINT [FK_IngredientLocationID]
GO
ALTER TABLE [dbo].[LineItem]  WITH CHECK ADD  CONSTRAINT [FK_LineItem_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[LineItem] CHECK CONSTRAINT [FK_LineItem_OrderID]
GO
ALTER TABLE [dbo].[LineItem]  WITH CHECK ADD  CONSTRAINT [FK_LineItem_RecipeID] FOREIGN KEY([RecipeID])
REFERENCES [dbo].[Recipes] ([RecipeID])
GO
ALTER TABLE [dbo].[LineItem] CHECK CONSTRAINT [FK_LineItem_RecipeID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_OrderLocationID] FOREIGN KEY([OrderLocationID])
REFERENCES [dbo].[Truck] ([TruckID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_OrderLocationID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_CustomerID]
GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD FOREIGN KEY([Ingredient])
REFERENCES [dbo].[Ingredients] ([IngredientID])
GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD FOREIGN KEY([Recipe])
REFERENCES [dbo].[Recipes] ([RecipeID])
GO
ALTER TABLE [dbo].[RecipeIngredients]  WITH CHECK ADD  CONSTRAINT [FK_RecipeIngredientLocationID] FOREIGN KEY([RecipeIngredientLocationID])
REFERENCES [dbo].[Truck] ([TruckID])
GO
ALTER TABLE [dbo].[RecipeIngredients] CHECK CONSTRAINT [FK_RecipeIngredientLocationID]
GO
ALTER TABLE [dbo].[Recipes]  WITH CHECK ADD  CONSTRAINT [FK_RecipeLocationID] FOREIGN KEY([RecipeLocationID])
REFERENCES [dbo].[Truck] ([TruckID])
GO
ALTER TABLE [dbo].[Recipes] CHECK CONSTRAINT [FK_RecipeLocationID]
GO
ALTER TABLE [dbo].[Street]  WITH CHECK ADD  CONSTRAINT [FK_CityID] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([CityID])
GO
ALTER TABLE [dbo].[Street] CHECK CONSTRAINT [FK_CityID]
GO
ALTER TABLE [dbo].[Territory]  WITH CHECK ADD  CONSTRAINT [FK_CountryID] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Territory] CHECK CONSTRAINT [FK_CountryID]
GO
ALTER TABLE [dbo].[TruckLocation]  WITH CHECK ADD  CONSTRAINT [FK_TruckID] FOREIGN KEY([TruckID])
REFERENCES [dbo].[Truck] ([TruckID])
GO
ALTER TABLE [dbo].[TruckLocation] CHECK CONSTRAINT [FK_TruckID]
GO
ALTER TABLE [dbo].[TruckLocation]  WITH CHECK ADD  CONSTRAINT [FK_TruckLocation_Street] FOREIGN KEY([StreetID])
REFERENCES [dbo].[Street] ([StreetID])
GO
ALTER TABLE [dbo].[TruckLocation] CHECK CONSTRAINT [FK_TruckLocation_Street]
GO
ALTER TABLE [dbo].[TruckLocation]  WITH CHECK ADD  CONSTRAINT [FK_TruckLocation_Timestamp] FOREIGN KEY([TimestampID])
REFERENCES [dbo].[LocationByTime] ([TimestampID])
GO
ALTER TABLE [dbo].[TruckLocation] CHECK CONSTRAINT [FK_TruckLocation_Timestamp]
GO
USE [master]
GO
